.header h1{
    text-align: center;
    width: 100%;
    font-size: 50px;
    font-weight: 400;
}
.header h1 span {
    background: linear-gradient(270deg, #9395d3 10%, #eb5e28 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .header p{
    width: 40%;
    text-align:left;
    font-size: 20px;
    line-height: 30px;
  }
  .header p a{
    color: #9395d3;
  }
  .header hr{
    outline: none;
    border: none;
    margin:10px 0 ;
    width: 90%;
    height: 5px;
    border-radius: 50px;
    background: linear-gradient(264deg, #9395d3 -5.09%, #eb5e28 106.28%);
  }