.language h1 span{
    text-align: left;
    width: 100%;
    font-size: 30px;
    font-weight: 300;
    background: linear-gradient(270deg, #9395d3 10%, #eb5e28 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.language p{
    width: 70%;
    text-align:left;
    font-size: 15px;
    line-height: 25px;
    font-weight: 200;
}